.module {
  background-color: lighten(blue, 25%);
  margin-top: 20px;
  padding: 20px;
  max-width: 500px;

  img {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
}

.title {
  color: #fff;
  margin: 0;
}
