@import '../../../sass/_vars';

.module {
  background: url('./images/cute.jpg') no-repeat;
  height: 375px;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
}

.title {
  color: #fff;
  font-size: $fontSize-larger;
  margin: 0;
}
